In [1]:
import pandas as pd

Import data for postal codes of Canada

In [3]:
data = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df = pd.DataFrame(data=data)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Every 'Nan' value of 'Neighborhood' corresponds to a 'Not assigned' in 'Borough', so drop all those rows

In [4]:
df.dropna(subset=['Neighborhood'], axis=0, inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Show the rows of the resulting dataframe

In [10]:
print('Number of rows: ', df.shape[0])

Number of rows:  103